@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto Flex";
  background-color: black;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: black;
}
* {
  scrollbar-color: #000000 #000000;
  scrollbar-width: thin;
}
